# Environments
.env
.env.*
!.env.example
*-firebase-adminsdk-*.json
serviceAccount*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Flutter/Dart (Frontend specific rules might be in frontend/.gitignore but it's safe to add here)
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/
.flutter-plugins
.flutter-plugins-dependencies
!frontend/lib/
